/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box; /* property:value; */
  font-size: 16px;        /* property:value; */
}

*, *:before, *:after {    /* property:value; */
  box-sizing: inherit;    /* property:value; */
}

/* adjust typography defaults */
body {
  margin: 1rem;              /* property:value; */
  font-family: Tahoma, arial,sans-serif; /* property:value; */
  line-height: 1.5;          /* property:value; */
  background-color: dimgray; /* property:value; */
  color: white; 
}
h1 {
  font-family: Tahoma, arial, sans-serif; 
  color: gold;
}
button {
  padding: 25px; 
  border-radius: 25px;
  
}

#button1 {
    background: lightgreen;
  
}
#button1:active, #button1.lit {
    background:green;
}

#button2 {
    background: lightblue;
}
#button2:active, #button2.lit {
    background:blue;
}

#button3 {
    background: pink;
}
#button3:active, #button3.lit {
    background:red;
}

#button4 {
    background: lightyellow;
}
#button4:active, #button4.lit {
    background:yellow;
}

.hidden {
  display: none;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

/* images and videos max out at full width */
img,
video {
  height: auto;             /* property:value; */
  max-width: 100%;          /* property:value; */
} 